@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;500;700;900&display=swap");
/*
--- RESETS START ---
*/

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #8083a3;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fafafa;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

button,
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.underlined-hover {
  &:hover {
    text-decoration: underline;
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/*
--- RESETS END ---
*/

/*
--- MAIN PAGE START ---
*/

.video-background {
  /* class name used in javascript too */
  width: 100vw; /* width needs to be set to 100% */
  height: 100vh; /* height needs to be set to 100% */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-video-wrapper {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  height: 72px;
  box-sizing: border-box;
  width: 100%;
  background-color: #21212b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  transition: 0.2s;

  @media (min-width: 768px) {
    height: 96px;
    background-color: transparent;
    padding: 52px 84px 0 84px;
  }

  &-left {
    display: flex;
    align-items: center;

    &-logo {
      &-shape {
        margin-right: 5px;

        @media (min-width: 768px) {
          margin-right: 10px;
          width: 50px;
          min-width: 50px;
          max-width: 50px;
          height: 50px;
          min-height: 50px;
          max-height: 50px;
          border-radius: 50px;
        }

        img {
          width: 26px;
          min-width: 26px;
          max-width: 26px;
          height: 26px;
          min-height: 26px;
          max-height: 26px;

          @media (min-width: 768px) {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            height: 50px;
            min-height: 50px;
            max-height: 50px;
          }
        }
      }
      &-text {
        img {
          width: 90px;
          min-width: 90px;
          max-width: 90px;
          height: 16px;
          min-height: 16px;
          max-height: 16px;

          @media (min-width: 768px) {
            width: 170px;
            min-width: 170px;
            max-width: 170px;
            height: 30px;
            min-height: 30px;
            max-height: 30px;
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    &-button {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }

    img {
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      width: 30px;
      min-width: 30px;
      max-width: 30px;
      margin-left: 28px;
      cursor: pointer;
    }
  }
}

.get-in-touch {
  background-color: #c13d1c;
  border-radius: 8px;
  height: 44px;
  min-height: 44px;
  max-height: 44px;
  min-width: 152px;
  box-sizing: border-box;
  color: #fafafa;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 12px;
  border: 1px solid #c13d1c;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #fafafa;
    color: #c13d1c;
    border: 1px solid #c13d1c;
  }

  &:active {
    background-color: #f4e7e4;
    color: #c13d1c;
    border: 1px solid #c13d1c;
  }

  &-mobile {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 24px;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.main {
  &-title {
    height: calc(
      100vh - 72px - 118px
    ); //minus header and chevron wrapper height
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
    transition: 0.2s;

    @media (min-width: 768px) {
      padding: 0;
      align-items: center;
    }

    &-text {
      font-family: "Bebas Neue", cursive;
      font-style: normal;
      font-size: 130px;
      line-height: 156px;
      text-align: left;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      &-mobile {
        font-family: "Bebas Neue", cursive;
        font-style: normal;
        font-size: 54px;
        line-height: 54px;
        text-align: left;
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }

    &-description {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      font-style: normal;
      text-align: left;

      @media (min-width: 768px) {
        font-size: 42px;
        line-height: 51px;
        max-width: 964px;
      }
    }
  }

  &-chevron {
    &-wrapper {
      height: 118px;
      margin-bottom: 65px;
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: none;

      @media (min-width: 768px) {
        display: flex;
      }

      img {
        height: 53px;
        min-height: 53px;
        max-height: 53px;
        width: 53px;
        min-width: 53px;
        max-width: 53px;
        cursor: pointer;
      }
    }
  }
}

/*
--- MAIN PAGE END ---
*/

/*
--- SIDEDRAWER START ---
*/

.sidedrawer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  box-sizing: border-box;

  &-active {
    display: flex;
  }

  &-backdrop {
    display: none;
    box-sizing: border-box;

    @media (min-width: 768px) {
      width: 100%;
      height: 100%;
      display: block;
      background: #21212b;
      opacity: 0.6;
    }
  }

  &-menu {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding: 70px;

    @media (min-width: 768px) {
      width: 480px;
      min-width: 480px;
      display: block;
      padding: 62px 90px;
    }

    &-top {
      width: 100%;
      display: none;
      align-items: center;
      justify-content: flex-end;

      @media (min-width: 768px) {
        display: flex;
      }

      img {
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        width: 32px;
        min-width: 32px;
        max-width: 32px;
        cursor: pointer;
      }
    }

    &-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-items {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      &-item {
        &-text {
          font-family: "Bebas Neue", cursive;
          font-style: normal;
          font-weight: normal;
          color: #21212b;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 54px;
          line-height: 65px;
          cursor: pointer;

          @media (min-width: 768px) {
            font-size: 70px;
            line-height: 90px;
          }

          &:hover {
            color: #c13d1c;
          }
        }

        &-active {
          color: #c13d1c !important;
        }
      }

      &-language {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-item {
          font-weight: 500;
          color: #21212b;
          font-size: 24px;
          line-height: 29px;
          cursor: pointer;

          &:hover {
            color: #c13d1c;
          }

          @media (min-width: 768px) {
            font-size: 32px;
            line-height: 39px;
          }

          &-active {
            color: #c13d1c !important;
          }
        }
      }
    }
  }
}

/*
--- SIDEDRAWER END ---
*/

/*
--- FEATURED WORK START ---
*/

.featured-work {
  background-color: #21212b;

  &-title {
    font-family: "Bebas Neue", cursive;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #fafafa;
    padding: 20px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      padding: 32px 140px;
      font-size: 70px;
      line-height: 84px;
    }
  }

  &-commercials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      &-item {
        position: relative;
        height: 300px;
        cursor: pointer;
        flex: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &-hover {
          position: absolute;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          padding: 25px;
          box-sizing: border-box;
          display: none;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;

          &-visible {
            display: flex;
          }

          img {
            width: 20px;
            min-width: 20px;
            max-width: 20px;
            height: 17px;
            min-height: 17px;
            max-height: 17px;
            margin-bottom: 10px;

            @media (min-width: 768px) {
              width: 25px;
              min-width: 25px;
              max-width: 25px;
              height: 30px;
              min-height: 30px;
              max-height: 30px;
              margin-bottom: 15px;
            }
          }

          @media (min-width: 768px) {
            padding: 40px;
          }

          &-title {
            font-family: "Bebas Neue", cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 36px;
            text-transform: uppercase;

            @media (min-width: 768px) {
              font-size: 50px;
              line-height: 60px;
            }
          }

          &-description {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;

            @media (min-width: 768px) {
              font-size: 24px;
              line-height: 29px;
            }
          }

          &-variant0 {
            background-color: #fafafa;
            color: #21212b;
          }

          &-variant1 {
            background-color: #c13d1c;
            color: #fafafa;
          }
          &-variant2 {
            background-color: #fafafa;
            color: #c13d1c;
          }
        }
      }
    }
  }

  &-cta {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1025px) {
      padding: 60px 238px;
    }

    &-title {
      margin-bottom: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #fafafa;

      @media (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 42px;
        line-height: 51px;
        max-width: 964px;
      }
    }

    &-button {
    }
  }
}

/*
--- FEATURED WORK END ---
*/

/*
--- FOOTER START ---
*/

.footer {
  padding: 24px;
  background-color: #21212b;

  @media (min-width: 768px) {
    padding: 27px 80px;
  }

  &-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      img {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        height: 13px;
        min-height: 13px;
        max-height: 13px;

        @media (min-width: 768px) {
          width: 149px;
          min-width: 149px;
          max-width: 149px;
          height: 18px;
          min-height: 18px;
          max-height: 18px;
        }
      }
    }

    &-right {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      &-text {
        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #fafafa;
        }
      }

      &-arrow {
        margin-left: 10px;
        img {
          width: 14px;
          min-width: 14px;
          max-width: 14px;
          height: 24px;
          min-height: 24px;
          max-height: 24px;
        }
      }
    }
  }

  &-divider {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    background-color: #aeaeae;
    opacity: 0.5;
  }

  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;

      @media (min-width: 1025px) {
        flex-direction: column;
        width: auto;
      }

      &-row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 16px;
        flex-direction: column;

        @media (min-width: 1025px) {
          flex-direction: row;
          align-items: flex-end;
          justify-content: center;
        }

        &-title {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #fafafa;
          margin-right: 0;
          margin-bottom: 20px;
          min-width: 85px;

          @media (min-width: 1025px) {
            font-size: 16px;
            line-height: 20px;
            margin-right: 32px;
            margin-bottom: 0;
          }
        }

        &-items {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          list-style: none;
          margin: 0;
          padding: 0;
          flex-direction: column;

          @media (min-width: 1025px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }

        &-item {
          margin: 0;
          padding: 0;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 12px;
          line-height: 20px;

          @media (min-width: 1025px) {
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 0;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
          a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #fafafa;

            @media (min-width: 1025px) {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
    }

    &-right {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      @media (min-width: 1025px) {
        display: flex;
      }

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        color: #fafafa;
      }
    }
  }

  &-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      justify-content: flex-end;
      margin-bottom: 20px;
    }

    img {
      width: 15px;
      min-width: 15px;
      max-width: 15px;
      height: 15px;
      min-height: 15px;
      max-height: 15px;
      margin: 0 12px 0 12px;

      &:first-child {
        margin: 0 12px 0 0;
      }
      &:last-child {
        margin: 0 0 0 12px;
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-row {
      margin-bottom: 2px;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #fafafa;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 17px;
        }

        img {
          width: 13px;
          min-width: 13px;
          max-width: 13px;
          height: 13px;
          min-height: 13px;
          max-height: 13px;
          margin: 0 5px;
        }
      }
    }
  }
}

/*
--- FOOTER END ---
*/
