@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;500;700;900&display=swap");

// --- RESETS START ---

//colors
$black-russian: #21212b;
$light-grey: #8083a3;
$grey: #aeaeae;
$persimmon-red: #c13d1c;
$white: #fafafa;
$button-pressed: #f4e7e4;
$input-box-shadow: rgba(0, 0, 0, 0.1);
$disclaimer-color: #646464;

//fonts
$montserrat: "Montserrat", sans-serif;
$bebas-neue: "Bebas Neue", cursive;

body,
html {
  color: $white;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
  font-weight: 400;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;
}

button,
a {
  font-family: $montserrat;
  text-decoration: none;
}

.underlined-hover {
  &:hover {
    text-decoration: underline;
  }
}

.main-container {
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// --- RESETS END ---

// --- MAIN PAGE START ---
.video-background {
  // class name used in javascript too */
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.video-bg-overlay {
  background: $black-russian;
  height: 100vh;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.video-modal {
  color: $black-russian;
}

.main-video-wrapper {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    height: 100vh;
    width: 100%;
  }
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  justify-content: space-between;
  left: 0;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  transition: 0.2s;
  width: 100%;
  z-index: 2;

  @media (min-width: 768px) {
    height: 96px;
    padding: 26px 44px;
  }

  &-transparent {
    background-color: transparent;
  }

  &-black {
    background-color: $black-russian;
  }

  &-fixed {
    position: absolute;
  }

  &-left {
    align-items: center;
    display: flex;

    &-logo {
      &-shape {
        margin-right: 6px;
        @media (min-width: 768px) {
          margin-right: 10px;
        }
      }

      &-shape-link {
        height: 16px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
        width: 16px;

        @media (min-width: 768px) {
          height: 30px;
          max-height: 30px;
          max-width: 30px;
          min-height: 30px;
          min-width: 30px;
          width: 30px;
        }
      }

      &-shape-image {
        height: 16px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
        width: 16px;

        @media (min-width: 768px) {
          height: 30px;
          max-height: 30px;
          max-width: 30px;
          min-height: 30px;
          min-width: 30px;
          width: 30px;
        }
      }

      &-text {
        a {
          height: 16px;
          max-height: 16px;
          max-width: 89px;
          min-height: 16px;
          min-width: 89px;
          width: 89px;

          @media (min-width: 768px) {
            height: 30px;
            max-height: 30px;
            max-width: 167px;
            min-height: 30px;
            min-width: 167px;
            width: 167px;
          }
        }

        img {
          height: 16px;
          max-height: 16px;
          max-width: 89px;
          min-height: 16px;
          min-width: 89px;
          width: 89px;

          @media (min-width: 768px) {
            height: 30px;
            max-height: 30px;
            max-width: 167px;
            min-height: 30px;
            min-width: 167px;
            width: 167px;
          }
        }
      }
    }
  }

  &-right {
    align-items: center;
    display: flex;

    &-button {
      display: none;
      @media (min-width: 768px) {
        display: block;
        margin-right: 27px + 35px; //space plus hamburger button width
      }

      &-home {
        display: none;
        @media (min-width: 768px) {
          display: block;
          margin-right: 14px + 35px + 28px; //scrollbarplus plus hamburger button plus space width
        }
      }
    }

    &-hamburger-wrapper {
      position: absolute;
      right: 24px;
      top: 16px;
      z-index: 5;

      @media (min-width: 768px) {
        right: 60px;
        top: 34px;
      }
    }
  }
}

.get-in-touch {
  align-items: center;
  background-color: $persimmon-red;
  border: 1px solid $persimmon-red;
  border-radius: 8px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: 52px;
  justify-content: center;
  line-height: 24px;
  max-height: 52px;
  min-height: 52px;
  min-width: 152px;
  padding: 15px 32px;
  text-transform: uppercase;
  transition: 0.2s;

  &:link {
    background-color: $persimmon-red;
    border: 1px solid $persimmon-red;
    color: $white;
  }

  &:visited {
    background-color: $persimmon-red;
    border: 1px solid $persimmon-red;
    color: $white;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $persimmon-red;
    color: $persimmon-red;
  }

  &:active {
    background-color: $button-pressed;
    border: 1px solid $persimmon-red;
    color: $persimmon-red;
  }

  &-hidden {
    display: none;
  }

  &-small {
    align-items: center;
    background-color: $persimmon-red;
    border: 1px solid $persimmon-red;
    border-radius: 8px;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    line-height: 20px;
    max-height: 36px;
    min-height: 36px;
    min-width: 103px;
    padding: 8px 16px;
    text-transform: uppercase;
    transition: 0.2s;

    &:link {
      background-color: $persimmon-red;
      border: 1px solid $persimmon-red;
      color: $white;
    }

    &:visited {
      background-color: $persimmon-red;
      border: 1px solid $persimmon-red;
      color: $white;
    }

    &:hover {
      background-color: $white;
      border: 1px solid $persimmon-red;
      color: $persimmon-red;
    }

    &:active {
      background-color: $button-pressed;
      border: 1px solid $persimmon-red;
      color: $persimmon-red;
    }

    &-hidden {
      display: none;
    }
  }

  &-mobile {
    &-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 24px;
      width: 100%;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.main {
  &-title {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(
      100vh - 48px - 118px
    ); //minus header and chevron wrapper height
    justify-content: center;
    padding: 24px;
    transition: 0.2s;
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
      align-items: center;
      height: calc(100vh - 96px - 118px);
      margin-top: 96px;
      padding: 0;
    }

    &-text {
      display: none;
      font-family: $bebas-neue;
      font-size: 130px;
      font-style: normal;
      font-weight: 400;
      height: auto;
      line-height: 80px;
      margin-bottom: 20px;
      text-align: left;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &-text-mobile {
      display: block;
      font-family: $bebas-neue;
      font-size: 57px;
      font-style: normal;
      line-height: 54px;
      text-align: left;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &-description {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

      @media (min-width: 768px) {
        font-size: 42px;
        line-height: 51px;
        max-width: 964px;
      }
    }
  }

  &-chevron {
    &-wrapper {
      align-items: center;
      box-sizing: border-box;
      display: none;
      height: 118px;
      justify-content: center;
      margin-bottom: 65px;
      width: 100%;
      z-index: 1;

      @media (min-width: 768px) {
        display: flex;
      }

      img {
        cursor: pointer;
        height: 53px;
        max-height: 53px;
        max-width: 53px;
        min-height: 53px;
        min-width: 53px;
        width: 53px;
      }
    }
  }
}

// MAIN PAGE END ---

// --- SIDEDRAWER START ---

.sidedrawer {
  box-sizing: border-box;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;

  &-active {
    display: block;
  }

  &-backdrop {
    box-sizing: border-box;
    display: none;

    @media (min-width: 768px) {
      background: $black-russian;
      display: block;
      height: 100%;
      opacity: 0.6 !important;
      width: 100vw;
    }
  }

  &-menu {
    align-items: center;
    background-color: $white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 28px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;
    width: 100%;
    z-index: 3;

    @media (min-width: 768px) {
      display: block;
      min-width: 480px;
      padding: 62px 90px;
      width: 480px;
    }

    &-top {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      img {
        cursor: pointer;
        height: 16px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
        width: 16px;

        @media (min-width: 768px) {
          display: flex;
          height: 32px;
          max-height: 32px;
          max-width: 32px;
          min-height: 32px;
          min-width: 32px;
          width: 32px;
        }
      }
    }

    &-body {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;

      &-items {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      &-item {
        &-text {
          color: $black-russian;
          cursor: pointer;
          font-family: $bebas-neue;
          font-size: 54px;
          font-style: normal;
          font-weight: 400;
          line-height: 65px;
          text-decoration: none;
          text-transform: uppercase;

          @media (min-width: 768px) {
            font-size: 60px;
            line-height: 72px;
          }

          &:hover {
            color: $persimmon-red;
          }
        }

        &-active {
          color: $persimmon-red !important;
        }
      }

      &-language {
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 218px;
        width: 100%;

        @media (min-width: 768px) {
          max-width: 242px;
        }

        &-item {
          color: $black-russian;
          cursor: pointer;
          font-size: 24px;
          font-weight: 500;
          line-height: 29px;

          &:hover {
            color: $persimmon-red;
          }

          @media (min-width: 768px) {
            font-size: 28px;
            line-height: 34px;
          }

          &-active {
            color: $persimmon-red !important;
          }
        }
      }
    }
  }
}

// --- SIDEDRAWER END ---

// --- FEATURED WORK START ---

.featured-work {
  background-color: $black-russian;

  &-title {
    align-items: center;
    box-sizing: border-box;
    color: $white;
    display: flex;
    font-family: $bebas-neue;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    line-height: 36px;
    padding: 20px 24px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 60px;
      line-height: 72px;
      padding: 20px 140px;
    }
  }

  &-commercials {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-row {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      &-item {
        cursor: pointer;
        flex: 1;
        height: 300px;
        position: relative;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }

        &-hover {
          align-items: flex-start;
          box-sizing: border-box;
          display: none;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          left: 0;
          padding: 24px;
          position: absolute;
          top: 0;
          transition: 0.2s;
          width: 100%;

          &-visible {
            display: flex;
          }

          &-not-visible {
            display: none;
          }

          @media (min-width: 768px) {
            padding: 40px;
          }

          img {
            height: 23px;
            margin-bottom: 10px;
            max-height: 23px;
            max-width: 20px;
            min-height: 23px;
            min-width: 20px;
            width: 20px;

            @media (min-width: 768px) {
              height: 30px;
              margin-bottom: 15px;
              max-height: 30px;
              max-width: 25px;
              min-height: 30px;
              min-width: 25px;
              width: 25px;
            }
          }

          &-title {
            font-family: $bebas-neue;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;

            @media (min-width: 768px) {
              font-size: 40px;
              line-height: 48px;
            }
          }

          &-description {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            @media (min-width: 768px) {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &-variant0 {
            background-color: $white;
            color: $black-russian;
          }

          &-variant1 {
            background-color: $persimmon-red;
            color: $white;
          }

          &-variant2 {
            background-color: $white;
            color: $persimmon-red;
          }
        }
      }
    }
  }

  &-divider {
    display: none;
    @media (min-width: 768px) {
      background-color: $black-russian;
      display: block;
      height: 60px;
      max-height: 60px;
      min-height: 60px;
    }
  }

  &-cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 24px;

    @media (min-width: 1025px) {
      display: none;
      padding: 60px 238px;
    }
  }
}

// --- FEATURED WORK END ---

// --- FOOTER START ---
.footer {
  background-color: $black-russian;
  box-sizing: border-box;
  padding: 24px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 27px 80px;
  }

  &-head {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-left {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 28px;
    }

    &-left-img {
      height: 14px;
      margin-bottom: 10px;
      max-height: 14px;
      max-width: 111px;
      min-height: 14px;
      min-width: 111px;
      width: 111px;

      @media (min-width: 768px) {
        height: 18px;
        margin-bottom: 10.43px;
        max-height: 18px;
        max-width: 150px;
        min-height: 18px;
        min-width: 150px;
        width: 150px;
      }
    }

    &-right {
      align-items: baseline;
      display: flex;
      justify-content: flex-start;
    }

    &-right-arrow {
      margin-bottom: 7px;
      margin-left: 10px;
      @media (min-width: 768px) {
        margin-bottom: 8px;
      }

      img {
        height: 24px;
        max-height: 24px;
        max-width: 14px;
        min-height: 24px;
        min-width: 14px;
        width: 14px;
      }
    }

    &-right-text {
      margin-bottom: 7px;

      a {
        color: $white;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  &-divider {
    background-color: $grey;
    box-sizing: border-box;
    height: 1px;
    margin-bottom: 20px;
    max-height: 1px;
    min-height: 1px;
    opacity: 0.5;
    width: 100%;
  }

  &-body {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @media (min-width: 1025px) {
      margin-bottom: 13px;
    }

    &-left {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      @media (min-width: 1025px) {
        flex-direction: column;
        width: auto;
      }

      &-row {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 10px;

        @media (min-width: 1025px) {
          align-items: flex-end;
          flex-direction: row;
          justify-content: center;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-title {
          color: $white;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          margin-bottom: 20px;
          margin-right: 0;
          min-width: 85px;

          @media (min-width: 1025px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
            margin-right: 32px;
          }
        }

        &-items {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          list-style: none;
          margin: 0;
          padding: 0;

          @media (min-width: 1025px) {
            align-items: center;
            flex-direction: row;
            justify-content: center;
          }
        }

        &-item {
          margin: 0;
          margin-bottom: 12px;
          margin-left: 0;
          margin-right: 0;
          padding: 0;

          @media (min-width: 1025px) {
            margin-bottom: 0;
            margin-left: 12px;
            margin-right: 12px;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $grey;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;

            @media (min-width: 1025px) {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
    }

    &-right {
      align-items: flex-end;
      display: none;
      flex-direction: column;

      @media (min-width: 1025px) {
        display: flex;
      }

      a {
        color: $grey;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: right;
      }
    }
  }

  &-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }

    a {
      &:first-child {
        img {
          margin: 0;
        }
        @media (min-width: 768px) {
          margin: 0 12px 0 0;
        }
      }
    }

    img {
      width: 15px;
      min-width: 15px;
      max-width: 15px;
      height: 15px;
      min-height: 15px;
      max-height: 15px;
      margin: 0 12px 0 12px;

      &:first-child {
        margin: 0;
        @media (min-width: 768px) {
          margin: 0 12px 0 0;
        }
      }
      &:last-child {
        margin: 0 0 0 12px;
      }
    }
  }

  &-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-row {
      margin-bottom: 2px;

      span {
        color: $grey;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 17px;
        }

        img {
          height: 13px;
          margin: 0 5px;
          max-height: 13px;
          max-width: 13px;
          min-height: 13px;
          min-width: 13px;
          width: 13px;
        }
      }
    }
  }
}

// --- FOOTER END ---

// --- ABOUT US START ---
.about-us {
  background-color: $black-russian;
  width: 100%;

  &-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px 24px;

    @media (min-width: 768px) {
      padding: 0 80px 60px;
    }

    &-text {
      font-family: $bebas-neue;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      margin: 8px 0 15px;

      @media (min-width: 768px) {
        font-size: 60px;
        line-height: 72px;
        margin: 0 0 10px;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 20px;
      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &-team {
    align-items: center;
    background-color: $black-russian;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (min-width: 768px) {
      padding-bottom: 60px;
    }

    &-row {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      &-item {
        cursor: pointer;
        flex: 1;
        height: 300px;
        min-width: 100%;
        position: relative;

        @media (min-width: 768px) {
          min-width: auto;
        }

        a {
          height: 100%;
          width: 100%;
        }

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }

        &-static {
          align-items: flex-start;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          min-width: 100%;
          padding: 25px;
          width: 100%;

          @media (min-width: 768px) {
            padding: 40px;
          }

          &-web {
            font-family: $bebas-neue;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            @media (min-width: 768px) {
              font-size: 25px;
              line-height: 30px;
            }
          }

          &-title {
            font-family: $bebas-neue;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;

            @media (min-width: 768px) {
              font-size: 40px;
              line-height: 48px;
            }
          }

          &-description {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            @media (min-width: 768px) {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &-variant0 {
            background-color: $white;
            color: $black-russian;
          }

          &-variant1 {
            background-color: $persimmon-red;
            color: $white;
          }

          &-variant2 {
            background-color: $white;
            color: $persimmon-red;
          }
        }

        &-hover {
          align-items: flex-start;
          box-sizing: border-box;
          display: none;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          left: 0;
          padding: 25px;
          position: absolute;
          top: 0;
          transition: 0.2s;
          width: 100%;

          &-visible {
            display: flex;
          }

          &-not-visible {
            display: none;
          }

          img {
            height: 24px;
            margin-bottom: 10px;
            max-height: 24px;
            max-width: 35px;
            min-height: 24px;
            min-width: 35px;
            width: 35px;

            @media (min-width: 768px) {
              height: 24px;
              margin-bottom: 15px;
              max-height: 24px;
              max-width: 35px;
              min-height: 24px;
              min-width: 35px;
              width: 35px;
            }
          }

          @media (min-width: 768px) {
            padding: 40px;
          }

          &-title {
            font-family: $bebas-neue;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;

            @media (min-width: 768px) {
              font-size: 40px;
              line-height: 48px;
            }
          }

          &-description {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            @media (min-width: 768px) {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &-variant0 {
            background-color: $white;
            color: $black-russian;
          }

          &-variant1 {
            background-color: $persimmon-red;
            color: $white;
          }

          &-variant2 {
            background-color: $white;
            color: $persimmon-red;
          }
        }
      }
    }
  }

  &-cta {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

// --- ABOUT US END ---

// --- SERVICES START ---

.services {
  background-color: $black-russian;
  width: 100%;

  &-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px 16px;

    @media (min-width: 768px) {
      padding: 0 80px 24px;
    }

    &-text {
      font-family: $bebas-neue;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      margin: 8px 0 0;

      @media (min-width: 768px) {
        font-size: 60px;
        line-height: 72px;
        margin: 0;
      }
    }
  }

  &-grid {
    box-sizing: border-box;
    width: 100%;

    @media (min-width: 768px) {
      padding: 0 0 52px;
    }

    @media (min-width: 1025px) {
      padding: 0 80px 52px 52px;
    }

    &-row {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 1025px) {
        flex-wrap: nowrap;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-item {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 144px;
        justify-content: center;
        min-height: 144px;
        min-width: 164px;

        @media (min-width: 1025px) {
          height: 201px;
          margin: 0 12px;
          max-height: 201px;
          min-height: 201px;
          min-width: 272px;
          padding: 0 16px 8px;

          &:first-child {
            margin: 0 12px 0 0;
          }

          &:last-child {
            margin: 0 0 0 12px;
          }
        }

        &-sound {
          padding: 0 8px 28px 8px;

          img {
            width: 53px;
            min-width: 53px;
            max-width: 53px;
            height: 46px;
            min-height: 46px;
            max-height: 46px;
            margin: 24.8px 0;

            @media (min-width: 1025px) {
              margin: 33.2px 0 13.2px 0;
              width: 80px;
              min-width: 80px;
              max-width: 80px;
              height: 70px;
              min-height: 70px;
              max-height: 70px;
            }
          }
        }

        &-people {
          padding: 0 8px 28px 8px;
          img {
            width: 65px;
            min-width: 65px;
            max-width: 65px;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            margin: 24px;

            @media (min-width: 1025px) {
              margin: 32px 0 12px 0;
              width: 98px;
              min-width: 98px;
              max-width: 98px;
              height: 72px;
              min-height: 72px;
              max-height: 72px;
            }
          }
        }

        &-mic {
          padding: 0 8px 18px 8px;
          img {
            width: 29px;
            min-width: 29px;
            max-width: 29px;
            height: 51px;
            min-height: 51px;
            max-height: 51px;
            margin: 22.4px 0 12.4px 0;

            @media (min-width: 1025px) {
              margin: 29.6px 0 9.6px 0;
              width: 43px;
              min-width: 43px;
              max-width: 43px;
              height: 77px;
              min-height: 77px;
              max-height: 77px;
            }
          }
        }

        &-planet {
          padding: 0 8px 18px 8px;
          img {
            width: 42px;
            min-width: 42px;
            max-width: 42px;
            height: 42px;
            min-height: 42px;
            max-height: 42px;
            margin: 27.2px 0 17.2px 0;

            @media (min-width: 1025px) {
              margin: 36.8px 0 16.8px 0;
              width: 62px;
              min-width: 62px;
              max-width: 62px;
              height: 62px;
              min-height: 62px;
              max-height: 62px;
            }
          }
        }

        &-megaphone {
          padding: 0 8px 18px 8px;
          img {
            width: 68px;
            min-width: 68px;
            max-width: 68px;
            height: 60px;
            min-height: 60px;
            max-height: 60px;
            margin: 17.6px 0 7.73px 0;

            @media (min-width: 1025px) {
              margin: 22.4px 0 2.6px 0;
              width: 102px;
              min-width: 102px;
              max-width: 102px;
              height: 91px;
              min-height: 91px;
              max-height: 91px;
            }
          }
        }

        &-wifi {
          padding: 0 8px 18px 8px;
          img {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            height: 38px;
            min-height: 38px;
            max-height: 38px;
            margin: 28.8px 0 19.6px 0;

            @media (min-width: 1025px) {
              margin: 39.2px 0 20.4px 0;
              width: 74px;
              min-width: 74px;
              max-width: 74px;
              height: 57px;
              min-height: 57px;
              max-height: 57px;
            }
          }
        }

        &-note {
          padding: 0 8px 18px 8px;
          img {
            width: 42px;
            min-width: 42px;
            max-width: 42px;
            height: 45px;
            min-height: 45px;
            max-height: 45px;
            margin: 25.6px 0 15.6px 0;

            @media (min-width: 1025px) {
              margin: 34.4px 0 14.4px 0;
              width: 62px;
              min-width: 62px;
              max-width: 62px;
              height: 67px;
              min-height: 67px;
              max-height: 67px;
            }
          }
        }
      }

      &-item-dcp {
        padding: 0 8px 18px;

        img {
          height: 26px;
          margin: 35.2px 0 25.5px;
          max-height: 26px;
          max-width: 64px;
          min-height: 26px;
          min-width: 64px;
          width: 64px;

          @media (min-width: 1025px) {
            margin: 48.8px 0 28.58px 0;
            width: 97px;
            min-width: 97px;
            max-width: 97px;
            height: 39px;
            min-height: 39px;
            max-height: 39px;
          }
        }
      }

      &-item-title {
        align-items: center;
        display: flex;
        font-size: 16px;
        justify-content: center;
        line-height: 20px;
        max-width: 148px;
        text-align: center;

        @media (min-width: 1025px) {
          font-size: 24px;
          line-height: 29px;
          max-width: 240px;
          min-height: 76px;
        }
      }
    }
  }

  &-carousel {
    background-color: $black-russian;
    box-sizing: border-box;
    display: none;
    position: relative;

    @media (min-width: 768px) {
      box-sizing: border-box;
      display: block;
      height: 620px;
      margin: 0 80px;
      max-height: 620px;
      max-width: calc(100vw - 160px);
      min-height: 620px;
      min-width: calc(100vw - 160px);
      width: calc(100vw - 160px);
    }

    &-image {
      img {
        height: 620px;
        max-height: 620px;
        min-height: 620px;
        width: 100%;
      }
    }

    &-custom-dots {
      margin: 32px 0;
      padding-left: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: 0 0 0 12px;

        &:first-child {
          margin-left: 0;
        }
      }

      button {
        background-color: $grey;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 12px;
        outline: none;
        text-decoration: none;
        width: 12px;

        .string {
          left: -99999px;
          line-height: 0;
          opacity: 0;
          position: absolute;
        }
      }

      // active slide
      .slick-active button {
        background-color: $persimmon-red;
      }

      // hover event
      button:hover,
      .custom-dots .slick-active button:hover {
        background-color: $persimmon-red;
      }
    }

    &-overlay {
      align-items: flex-start;
      box-sizing: border-box;
      display: flex;
      height: 620px;
      max-height: 620px;
      min-height: 620px;
      padding: 0 45px;
      position: absolute;
      top: 0;
      width: calc(100vw - 160px);

      &-arrows {
        align-items: center;
        display: flex;
        height: 533px; //620 - 87px for dots wrapper
        justify-content: space-between;
        max-height: 533px;
        min-height: 533px;
        width: 100%;
      }

      &-arrows-prev {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 620px;
        justify-content: center;
        max-height: 620px;
        min-height: 620px;

        img {
          height: 23px;
          max-height: 23px;
          max-width: 23px;
          min-height: 23px;
          min-width: 23px;
          width: 23px;
        }
      }

      &-arrows-next {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 620px;
        justify-content: center;
        max-height: 620px;
        min-height: 620px;

        img {
          height: 23px;
          max-height: 23px;
          max-width: 23px;
          min-height: 23px;
          min-width: 23px;
          width: 23px;
        }
      }

      &-dots {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }

  &-divider {
    display: none;
    @media (min-width: 768px) {
      background-color: $black-russian;
      display: block;
      height: 60px;
      max-height: 60px;
      min-height: 60px;
    }
  }

  &-cta {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

//--- SERVICES END ---

// --- OUR WORK START ---
.our-work {
  background-color: $black-russian;
  width: 100%;

  @media (min-width: 768px) {
    padding-bottom: 60px;
  }

  &-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px 15px;

    @media (min-width: 768px) {
      padding: 0 80px 14px;
    }

    &-text {
      font-family: $bebas-neue;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;

      @media (min-width: 768px) {
        font-size: 60px;
        line-height: 72px;
      }
    }
  }

  &-cta {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
// --- OUR WORK END ---

// --- GET IN TOUCH START ---
.contact {
  background-color: $black-russian;

  &-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;

    @media (min-width: 768px) {
      padding: 0 80px;
    }

    &-text {
      font-family: $bebas-neue;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      margin: 8px 0 16px;

      @media (min-width: 768px) {
        font-size: 60px;
        line-height: 72px;
        margin: 0 0 10px;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 32px;
      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 32px;
      }
    }
  }

  &-wrapper {
    display: flex;
    min-height: 232px;
    padding-bottom: 40px;
    width: 100%;

    @media (min-width: 768px) {
      min-height: 520px;
      padding-bottom: 60px;
    }
  }

  &-infos {
    background-color: $persimmon-red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    padding: 42px 0 34px 40px;
    width: 100%;

    @media (min-width: 1025px) {
      align-items: center;
      min-width: 50%;
      padding: 0;
      width: 50%;
    }

    &-items {
      display: flex;
      flex-direction: column;
    }

    &-item {
      align-items: center;
      display: flex;
      margin-bottom: 38px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: 768px) {
        margin-bottom: 72px;
      }

      &-icon {
        margin-right: 21px;
        min-width: 38px;
        @media (min-width: 768px) {
          margin-right: 30px;
          min-width: 64px;
        }

        &-mail {
          img {
            height: 24px;
            max-height: 24px;
            max-width: 34px;
            min-height: 24px;
            min-width: 34px;
            width: 34px;

            @media (min-width: 768px) {
              height: 32px;
              max-height: 32px;
              max-width: 46px;
              min-height: 32px;
              min-width: 46px;
              width: 46px;
            }
          }
        }

        &-phone {
          img {
            height: 37px;
            max-height: 37px;
            max-width: 37px;
            min-height: 37px;
            min-width: 37px;
            width: 37px;

            @media (min-width: 768px) {
              height: 50px;
              max-height: 50px;
              max-width: 50px;
              min-height: 50px;
              min-width: 50px;
              width: 50px;
            }
          }
        }

        &-geo {
          img {
            height: 37px;
            max-height: 37px;
            max-width: 28px;
            min-height: 37px;
            min-width: 28px;
            width: 28px;

            @media (min-width: 768px) {
              height: 50px;
              max-height: 50px;
              max-width: 37px;
              min-height: 50px;
              min-width: 37px;
              width: 37px;
            }
          }
        }
      }

      &-text {
        display: flex;
        flex-direction: column;

        a {
          color: $white;
          font-size: 16px;
          line-height: 20px;
          max-width: 230px;
          @media (min-width: 768px) {
            font-size: 24px;
            line-height: 29px;
            max-width: 430px;
          }
        }
      }
    }
  }

  &-form {
    display: none;

    @media (min-width: 1025px) {
      align-items: center;
      background-color: $white;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      min-width: 50%;
      padding: 0 80px;
      width: 50%;
    }

    & > form {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;

      .input-group {
        margin: 40px 0 20px;
        position: relative;
      }

      .highlight {
        height: 60%;
        left: 0;
        opacity: 0.5;
        pointer-events: none;
        position: absolute;
        top: 25%;
        width: 100px;
      }

      .input-label {
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        color: $disclaimer-color;
        font-size: 20px;
        font-weight: 400;
        left: 5px;
        line-height: 24px;
        pointer-events: none;
        position: absolute;
        top: 10px;
        transition: 0.2s ease all;
      }

      input {
        background-color: $white;
        border: 0;
        border-bottom: 1px solid $grey;
        box-sizing: border-box;
        caret-color: $persimmon-red;
        color: $black-russian;
        display: block;
        font-family: $montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        min-height: 44px;
        padding: 10px 10px 10px 5px;
        width: 100%;

        &::placeholder {
          color: $disclaimer-color;
          font-family: $montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: normal;
          line-height: 24px;
        }

        &:valid {
          border-bottom: 1px solid $black-russian;
          outline: none;
        }

        &:focus {
          border-bottom: 1px solid $persimmon-red;
          outline: none;
        }

        &:focus ~ .input-label,
        &:valid ~ .input-label {
          color: $grey;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 17px;
          top: -12px;
        }

        &:focus ~ .highlight {
          // sass-lint:disable no-vendor-prefixes
          -moz-animation: inputHighlighter 0.3s ease;
          -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
        }
      }

      .textarea-label {
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        color: $disclaimer-color;
        font-size: 20px;
        font-weight: 400;
        left: 5px;
        line-height: 24px;
        pointer-events: none;
        position: absolute;
        top: 10px;
        transition: 0.2s ease all;
      }

      textarea {
        background-color: $white;
        border: 0;
        border-bottom: 1px solid $grey;
        caret-color: $persimmon-red;
        color: $black-russian;
        display: block;
        font-family: $montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        height: 56px;
        line-height: 24px;
        max-height: 56px;
        min-height: 56px;
        outline: none;
        padding: 10px 10px 10px 5px;
        width: 100%;

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar {
          background-color: $black-russian;
          width: 10px;
        }

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar-thumb {
          -webkit-box-shadow: inset 0 0 6px $input-box-shadow;
          background-color: $white;
          border-radius: 6px;
          box-shadow: inset 0 0 6px $input-box-shadow;
          margin: 0 2px;
          width: 6px;
        }

        &:focus {
          border-bottom: 1px solid $persimmon-red;
          outline: none;
          resize: none;
        }

        &:focus ~ .textarea-label,
        &:valid ~ .textarea-label {
          color: $grey;
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          top: -20px;
        }

        &:focus ~ .highlight {
          // sass-lint:disable no-vendor-prefixes
          -moz-animation: inputHighlighter 0.3s ease;
          -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
        }
      }
    }

    &-disclaimer {
      span {
        color: $disclaimer-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;

        a {
          color: $persimmon-red;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
        }
      }
    }

    &-submit {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 40px;

      button {
        align-items: center;
        background-color: $persimmon-red;
        border: 1px solid $persimmon-red;
        border-radius: 8px;
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        height: 52px;
        justify-content: center;
        line-height: 24px;
        max-height: 52px;
        min-height: 52px;
        min-width: 146px;
        outline: none;
        padding: 14px 32px;
        text-transform: uppercase;
        transition: 0.2s;
        width: fit-content;

        &:link {
          background-color: $persimmon-red;
          border: 1px solid $persimmon-red;

          color: $white;
        }

        &:visited {
          background-color: $persimmon-red;
          border: 1px solid $persimmon-red;
          color: $white;
        }

        &:hover {
          background-color: $white;
          border: 1px solid $persimmon-red;
          color: $persimmon-red;
        }

        &:active {
          background-color: $button-pressed;
          border: 1px solid $persimmon-red;
          color: $persimmon-red;
        }

        &:disabled {
          background-color: $grey;
          border: 1px solid $grey;
          color: $white;
        }
      }
    }

    &-load {
      align-items: center;
      display: none;
      justify-content: center;
      margin-top: 40px;

      &-visible {
        display: flex;
      }

      button {
        align-items: center;
        background-color: $white;
        border: 1px solid $persimmon-red;
        border-radius: 8px;
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        height: 52px;
        justify-content: center;
        line-height: 24px;
        max-height: 52px;
        min-height: 52px;
        min-width: 146px;
        outline: none;
        padding: 14px 32px;
        text-transform: uppercase;
        transition: 0.2s;
        width: fit-content;

        div {
          animation: spin 0.75s linear infinite;
          border: 3px solid $persimmon-red;
          border-radius: 50%;
          border-right-color: transparent;
          height: 20px;
          max-height: 20px;
          max-width: 20px;
          min-height: 20px;
          min-width: 20px;
          width: 20px;
        }
      }
    }

    &-validation {
      color: $persimmon-red;
      display: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      margin-top: 6px;

      &-visible {
        display: block;
      }
    }
  }

  &-thanks {
    display: none;

    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-visible {
      @media (min-width: 1025px) {
        align-items: center;
        background-color: $white;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 50%;
        padding: 0 110px;
        width: 50%;
      }
    }

    &-title {
      color: $black-russian;
      font-size: 42px;
      font-weight: 500;
      line-height: 51px;
      margin-bottom: 16px;
      max-width: 440px;
    }

    &-text {
      color: $black-russian;
      font-size: 24px;
      line-height: 29px;
      max-width: 440px;
    }
  }
}

@keyframes inputHighlighter {
  from {
    background: $grey;
  }

  to {
    background: transparent;
    width: 0;
  }
}
// --- GET IN TOUCH END ---

// --- PRIVACY POLICY, COOKIES, LEGAL START ---
.info {
  background-color: $black-russian;
  display: flex;
  flex-direction: column;
  padding: 4px 24px 45px;

  @media (min-width: 768px) {
    padding: 10px 80px 60px;
  }

  &-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    @media (min-width: 768px) {
      font-size: 42px;
      line-height: 51px;
      margin-bottom: 24px;
    }
  }

  &-item {
    &-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &-text {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      margin: 0;
      padding: 0;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }

      a {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        @media (min-width: 768px) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}
// --- PRIVACY POLICY, COOKIES, LEGAL END ---

.video-js .vjs-tech {
  height: inherit;
  position: relative;
}

.mfp-close-btn-in .mfp-close {
  color: $white;
}

.mfp-close {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.vjs-control-bar {
  background: transparent !important;
  background-color: transparent !important;
}

.video-js .vjs-play-progress:before {
  display: none;
}

.video-js .vjs-play-progress {
  background-color: $persimmon-red;
}

.video-js .vjs-slider {
  background-color: $white !important;
}

.video-js .vjs-control {
  outline: none;
}

.vjs-play-progress .vjs-slider-bar {
  background-color: $persimmon-red !important;
}

.vjs-nofull .vjs-fullscreen-control {
  display: none;
}

.vjs-nopicinpic .vjs-picture-in-picture-control {
  display: none;
}

.video-js .vjs-time-control {
  display: none;
}

.vjs-volume-last .vjs-volume-panel {
  order: 2;
}

.mfp-bg {
  background: $black-russian;
  opacity: 1;
  @media (min-width: 1440px) {
    opacity: 0.6;
  }
}

.player {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}

.video-recmote {
  height: auto;
  width: 100%;

  @media (min-width: 1440px) {
    height: 540px;
    width: 960px;
  }

  &-close {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
  }

  &-info {
    bottom: -65px;
    display: flex;
    flex-direction: column;
    left: 15px;
    position: absolute;

    @media (min-width: 1440px) {
      bottom: 40px;
      left: 47px;
    }

    &-title {
      color: $white;
      font-family: $bebas-neue;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      text-transform: uppercase;

      @media (min-width: 1025px) {
        font-size: 50px;
        line-height: 60px;
      }
    }

    &-text {
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      @media (min-width: 1025px) {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
}
