@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;500;700;900&display=swap");
/*
--- RESETS START ---
*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #8083a3;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fafafa;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

button,
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.underlined-hover:hover {
  text-decoration: underline;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

@-webkit-keyframes slide-right {
  100% {
    left: 0;
  }
}

@keyframes slide-right {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

/*
--- RESETS END ---
*/
/*
--- MAIN PAGE START ---
*/
.video-background {
  /* class name used in javascript too */
  width: 100vw;
  /* width needs to be set to 100% */
  height: 100vh;
  /* height needs to be set to 100% */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.video-modal {
  color: #21212b;
}

.main-video-wrapper {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .main-video-wrapper {
    width: 100%;
    height: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #21212b;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .header {
    height: 96px;
    background-color: transparent;
    padding: 52px 84px 0 84px;
  }
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left-logo-shape {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .header-left-logo-shape {
    margin-right: 10px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50px;
  }
}

.header-left-logo-shape img {
  width: 26px;
  min-width: 26px;
  max-width: 26px;
  height: 26px;
  min-height: 26px;
  max-height: 26px;
}

@media (min-width: 768px) {
  .header-left-logo-shape img {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
  }
}

.header-left-logo-text img {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
}

@media (min-width: 768px) {
  .header-left-logo-text img {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right-button {
  display: none;
}

@media (min-width: 768px) {
  .header-right-button {
    display: block;
  }
}

.header-right img {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  margin-left: 28px;
  cursor: pointer;
}

.get-in-touch {
  background-color: #c13d1c;
  border-radius: 8px;
  height: 44px;
  min-height: 44px;
  max-height: 44px;
  min-width: 152px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fafafa;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 12px;
  border: 1px solid #c13d1c;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.get-in-touch:hover {
  background-color: #fafafa;
  color: #c13d1c;
  border: 1px solid #c13d1c;
}

.get-in-touch:active {
  background-color: #f4e7e4;
  color: #c13d1c;
  border: 1px solid #c13d1c;
}

.get-in-touch-mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .get-in-touch-mobile-wrapper {
    display: none;
  }
}

.main-title {
  height: calc( 100vh - 72px - 118px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .main-title {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-title-text {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-size: 130px;
  line-height: 156px;
  text-align: left;
  display: none;
}

@media (min-width: 768px) {
  .main-title-text {
    display: block;
  }
}

.main-title-text-mobile {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-size: 54px;
  line-height: 54px;
  text-align: left;
  display: block;
}

@media (min-width: 768px) {
  .main-title-text-mobile {
    display: none;
  }
}

.main-title-description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

@media (min-width: 768px) {
  .main-title-description {
    font-size: 42px;
    line-height: 51px;
    max-width: 964px;
  }
}

.main-chevron-wrapper {
  height: 118px;
  margin-bottom: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

@media (min-width: 768px) {
  .main-chevron-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-chevron-wrapper img {
  height: 53px;
  min-height: 53px;
  max-height: 53px;
  width: 53px;
  min-width: 53px;
  max-width: 53px;
  cursor: pointer;
}

/*
--- MAIN PAGE END ---
*/
/*
--- SIDEDRAWER START ---
*/
.sidedrawer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidedrawer-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidedrawer-backdrop {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .sidedrawer-backdrop {
    width: 100%;
    height: 100%;
    display: block;
    background: #21212b;
    opacity: 0.6;
  }
}

.sidedrawer-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 70px;
}

@media (min-width: 768px) {
  .sidedrawer-menu {
    width: 480px;
    min-width: 480px;
    display: block;
    padding: 62px 90px;
  }
}

.sidedrawer-menu-top {
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .sidedrawer-menu-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidedrawer-menu-top img {
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  cursor: pointer;
}

.sidedrawer-menu-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidedrawer-menu-body-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .sidedrawer-menu-body-items {
    margin-bottom: 0;
  }
}

.sidedrawer-menu-body-item-text {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  color: #21212b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 54px;
  line-height: 65px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .sidedrawer-menu-body-item-text {
    font-size: 70px;
    line-height: 90px;
  }
}

.sidedrawer-menu-body-item-text:hover {
  color: #c13d1c;
}

.sidedrawer-menu-body-item-active {
  color: #c13d1c !important;
}

.sidedrawer-menu-body-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.sidedrawer-menu-body-language-item {
  font-weight: 500;
  color: #21212b;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.sidedrawer-menu-body-language-item:hover {
  color: #c13d1c;
}

@media (min-width: 768px) {
  .sidedrawer-menu-body-language-item {
    font-size: 32px;
    line-height: 39px;
  }
}

.sidedrawer-menu-body-language-item-active {
  color: #c13d1c !important;
}

/*
--- SIDEDRAWER END ---
*/
/*
--- FEATURED WORK START ---
*/
.featured-work {
  background-color: #21212b;
}

.featured-work-title {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fafafa;
  padding: 20px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .featured-work-title {
    padding: 32px 140px;
    font-size: 70px;
    line-height: 84px;
  }
}

.featured-work-commercials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.featured-work-commercials-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .featured-work-commercials-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.featured-work-commercials-row-item {
  position: relative;
  height: 300px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.featured-work-commercials-row-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-work-commercials-row-item-hover {
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
}

.featured-work-commercials-row-item-hover-visible {
  -webkit-animation: slide-right 0.8s forwards;
  animation: slide-right 0.8s forwards;
}

.featured-work-commercials-row-item-hover-not-visible {
  -webkit-animation: slide-left 0.8s forwards;
  animation: slide-left 0.8s forwards;
}

.featured-work-commercials-row-item-hover img {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 23px;
  min-height: 23px;
  max-height: 23px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .featured-work-commercials-row-item-hover img {
    width: 25px;
    min-width: 25px;
    max-width: 25px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .featured-work-commercials-row-item-hover {
    padding: 40px;
  }
}

.featured-work-commercials-row-item-hover-title {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .featured-work-commercials-row-item-hover-title {
    font-size: 50px;
    line-height: 60px;
  }
}

.featured-work-commercials-row-item-hover-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .featured-work-commercials-row-item-hover-description {
    font-size: 24px;
    line-height: 29px;
  }
}

.featured-work-commercials-row-item-hover-variant0 {
  background-color: #fafafa;
  color: #21212b;
}

.featured-work-commercials-row-item-hover-variant1 {
  background-color: #c13d1c;
  color: #fafafa;
}

.featured-work-commercials-row-item-hover-variant2 {
  background-color: #fafafa;
  color: #c13d1c;
}

.featured-work-cta {
  padding: 40px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1025px) {
  .featured-work-cta {
    padding: 60px 238px;
  }
}

.featured-work-cta-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fafafa;
}

@media (min-width: 768px) {
  .featured-work-cta-title {
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 51px;
    max-width: 964px;
  }
}

/*
--- FEATURED WORK END ---
*/
/*
--- FOOTER START ---
*/
.footer {
  padding: 24px;
  background-color: #21212b;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .footer {
    padding: 27px 80px;
  }
}

.footer-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-head-left img {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
}

@media (min-width: 768px) {
  .footer-head-left img {
    width: 149px;
    min-width: 149px;
    max-width: 149px;
    height: 18px;
    min-height: 18px;
    max-height: 18px;
  }
}

.footer-head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-head-right-text a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fafafa;
}

.footer-head-right-arrow {
  margin-left: 10px;
}

.footer-head-right-arrow img {
  width: 14px;
  min-width: 14px;
  max-width: 14px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
}

.footer-divider {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  background-color: #aeaeae;
  opacity: 0.5;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (min-width: 1025px) {
  .footer-body-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
}

.footer-body-left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .footer-body-left-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-body-left-row-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fafafa;
  margin-right: 0;
  margin-bottom: 20px;
  min-width: 85px;
}

@media (min-width: 1025px) {
  .footer-body-left-row-title {
    font-size: 16px;
    line-height: 20px;
    margin-right: 32px;
    margin-bottom: 0;
  }
}

.footer-body-left-row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .footer-body-left-row-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-body-left-row-item {
  margin: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  line-height: 20px;
}

@media (min-width: 1025px) {
  .footer-body-left-row-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-body-left-row-item:first-child {
  margin-left: 0;
}

.footer-body-left-row-item:last-child {
  margin-right: 0;
}

.footer-body-left-row-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fafafa;
}

@media (min-width: 1025px) {
  .footer-body-left-row-item a {
    font-size: 16px;
    line-height: 20px;
  }
}

.footer-body-right {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1025px) {
  .footer-body-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-body-right a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #fafafa;
}

.footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 15px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer-media {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.footer-media img {
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  margin: 0 12px 0 12px;
}

.footer-media img:first-child {
  margin: 0 12px 0 0;
}

.footer-media img:last-child {
  margin: 0 0 0 12px;
}

.footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-footer-row {
  margin-bottom: 2px;
}

.footer-footer-row span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #fafafa;
}

@media (min-width: 768px) {
  .footer-footer-row span {
    font-size: 14px;
    line-height: 17px;
  }
}

.footer-footer-row span img {
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin: 0 5px;
}

/*
--- FOOTER END ---
*/
/*
--- ABOUT US START ---
*/
.about-us {
  width: 100%;
  background-color: #21212b;
}

.about-us-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  padding: 0 24px 24px 24px;
}

@media (min-width: 768px) {
  .about-us-title {
    margin-top: 54px;
    padding: 0 140px 100px 140px;
  }
}

.about-us-title-text {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .about-us-title-text {
    font-size: 70px;
    line-height: 84px;
  }
}

.about-us-title-description {
  font-size: 16px;
  line-height: 20px;
  max-width: 1160px;
}

@media (min-width: 768px) {
  .about-us-title-description {
    font-size: 24px;
    line-height: 29px;
  }
}

.about-us-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #21212b;
}

@media (min-width: 768px) {
  .about-us-team {
    padding-bottom: 60px;
  }
}

.about-us-team-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-us-team-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-us-team-row-item {
  position: relative;
  height: 300px;
  cursor: pointer;
  min-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .about-us-team-row-item {
    min-width: auto;
  }
}

.about-us-team-row-item a {
  width: 100%;
  height: 100%;
}

.about-us-team-row-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us-team-row-item-static {
  min-width: 100%;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
}

@media (min-width: 768px) {
  .about-us-team-row-item-static {
    padding: 40px;
  }
}

.about-us-team-row-item-static-web {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

@media (min-width: 768px) {
  .about-us-team-row-item-static-web {
    font-size: 25px;
    line-height: 30px;
  }
}

.about-us-team-row-item-static-title {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .about-us-team-row-item-static-title {
    font-size: 50px;
    line-height: 60px;
  }
}

.about-us-team-row-item-static-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .about-us-team-row-item-static-description {
    font-size: 24px;
    line-height: 29px;
  }
}

.about-us-team-row-item-static-variant0 {
  background-color: #fafafa;
  color: #21212b;
}

.about-us-team-row-item-static-variant1 {
  background-color: #c13d1c;
  color: #fafafa;
}

.about-us-team-row-item-static-variant2 {
  background-color: #fafafa;
  color: #c13d1c;
}

.about-us-team-row-item-hover {
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
}

.about-us-team-row-item-hover-visible {
  -webkit-animation: slide-right 0.8s forwards;
  animation: slide-right 0.8s forwards;
}

.about-us-team-row-item-hover-not-visible {
  -webkit-animation: slide-left 0.8s forwards;
  animation: slide-left 0.8s forwards;
}

.about-us-team-row-item-hover img {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .about-us-team-row-item-hover img {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .about-us-team-row-item-hover {
    padding: 40px;
  }
}

.about-us-team-row-item-hover-title {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .about-us-team-row-item-hover-title {
    font-size: 50px;
    line-height: 60px;
  }
}

.about-us-team-row-item-hover-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .about-us-team-row-item-hover-description {
    font-size: 24px;
    line-height: 29px;
  }
}

.about-us-team-row-item-hover-variant0 {
  background-color: #fafafa;
  color: #21212b;
}

.about-us-team-row-item-hover-variant1 {
  background-color: #c13d1c;
  color: #fafafa;
}

.about-us-team-row-item-hover-variant2 {
  background-color: #fafafa;
  color: #c13d1c;
}

.about-us-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .about-us-cta {
    display: none;
  }
}

/*
--- ABOUT US END ---
*/
/*
--- SERVICES START ---
*/
.services {
  width: 100%;
  background-color: #21212b;
}

.services-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  padding: 0 24px 24px 24px;
}

@media (min-width: 768px) {
  .services-title {
    margin-top: 54px;
    padding: 0 140px 24px 140px;
  }
}

.services-title-text {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .services-title-text {
    font-size: 70px;
    line-height: 84px;
  }
}

.services-title-description {
  font-size: 16px;
  line-height: 20px;
  max-width: 1160px;
}

@media (min-width: 768px) {
  .services-title-description {
    font-size: 24px;
    line-height: 29px;
  }
}

.services-grid {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1025px) {
  .services-grid {
    padding: 0 78px 80px 78px;
    padding-bottom: 80px;
  }
}

.services-grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1025px) {
  .services-grid-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 32px;
  }
}

.services-grid-row-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 148px;
  min-width: 180px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 16px 28px 16px;
}

@media (min-width: 1025px) {
  .services-grid-row-item {
    min-height: 235px;
    min-width: 312px;
    padding: 40px 8px 8px 8px;
    margin: 0 8px;
  }
  .services-grid-row-item:first-child {
    margin: 0 8px 0 0;
  }
  .services-grid-row-item:last-child {
    margin: 0 0 0 8px;
  }
}

.services-grid-row-item img {
  width: 53px;
  min-width: 53px;
  max-width: 53px;
  height: 46px;
  min-height: 46px;
  max-height: 46px;
  margin-bottom: 29px;
}

@media (min-width: 1025px) {
  .services-grid-row-item img {
    width: 93px;
    min-width: 93px;
    max-width: 93px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
  }
}

.services-grid-row-item-title {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 148px;
  min-height: 40px;
}

@media (min-width: 1025px) {
  .services-grid-row-item-title {
    font-size: 32px;
    line-height: 39px;
    min-height: 76px;
    max-width: 296px;
  }
}

.services-carousel {
  display: none;
  position: relative;
  margin-top: 60px;
  padding-bottom: 80px;
  background-color: #21212b;
}

@media (min-width: 768px) {
  .services-carousel {
    display: block;
    height: 610px;
    min-height: 610px;
    max-height: 610px;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
  }
}

@media (min-width: 1025px) {
  .services-carousel {
    height: 810px;
    min-height: 810px;
    max-height: 810px;
  }
}

.services-carousel-image img {
  height: 610px;
  min-height: 610px;
  max-height: 610px;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}

@media (min-width: 1025px) {
  .services-carousel-image img {
    height: 810px;
    min-height: 810px;
    max-height: 810px;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
  }
}

.services-carousel-custom-dots {
  padding-left: 0;
}

.services-carousel-custom-dots li {
  margin: 0 0 0 0.5em;
  display: inline-block;
  list-style: none;
}

.services-carousel-custom-dots li:first-child {
  margin-left: 0;
}

.services-carousel-custom-dots button {
  font-size: 0;
  display: block;
  width: 16px;
  height: 16px;
  text-decoration: none;
  background-color: #fafafa;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.services-carousel-custom-dots button .string {
  position: absolute;
  left: -99999px;
  line-height: 0;
  opacity: 0;
}

.services-carousel-custom-dots .slick-active button {
  background-color: #c13d1c;
}

.services-carousel-custom-dots button:hover,
.services-carousel-custom-dots .custom-dots .slick-active button:hover {
  background-color: #c13d1c;
}

.services-carousel-overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 610px;
  min-height: 610px;
  max-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 45px;
}

@media (min-width: 1025px) {
  .services-carousel-overlay {
    height: 810px;
    min-height: 810px;
    max-height: 810px;
  }
}

.services-carousel-overlay-arrows {
  width: 100%;
  min-height: 555px;
  max-height: 555px;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1025px) {
  .services-carousel-overlay-arrows {
    min-height: 755px;
    max-height: 755px;
    height: 755px;
  }
}

.services-carousel-overlay-arrows-prev {
  cursor: pointer;
}

.services-carousel-overlay-arrows-prev img {
  min-height: 45px;
  max-height: 45px;
  height: 45px;
}

.services-carousel-overlay-arrows-next {
  cursor: pointer;
}

.services-carousel-overlay-arrows-next img {
  min-height: 45px;
  max-height: 45px;
  height: 45px;
}

.services-carousel-overlay-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.services-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .services-cta {
    display: none;
  }
}

/*
--- SERVICES END ---
*/
/*
--- OUR WORK START ---
*/
.our-work {
  width: 100%;
  background-color: #21212b;
}

@media (min-width: 768px) {
  .our-work {
    padding-bottom: 60px;
  }
}

.our-work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  padding: 0 24px 24px 24px;
}

@media (min-width: 768px) {
  .our-work-title {
    margin-top: 54px;
    padding: 0 140px 24px 140px;
  }
}

.our-work-title-text {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .our-work-title-text {
    font-size: 70px;
    line-height: 84px;
  }
}

.our-work-title-description {
  font-size: 16px;
  line-height: 20px;
  max-width: 1160px;
}

@media (min-width: 768px) {
  .our-work-title-description {
    font-size: 24px;
    line-height: 29px;
  }
}

.our-work-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .our-work-cta {
    display: none;
  }
}

/*
--- OUR WORK END ---
*/
/*# sourceMappingURL=style.css.map */